/*背景图片按比例缩放，平铺浏览器页面*/
body {
    background-image: url(../image/loginbg.jpg);
    font: 20px/100%  '黑体', 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    background-size: cover;
}

a {
    text-decoration: none;  /* 取消超链接下划线 */
}

.logo {
    position: absolute;
    top: 4%;
    left: 7%; /*框的位置*/
}

.Login { /*Class名引用*/
    text-align: center; /*内部元素左右居中*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: auto; /*div在页面的位置*/
    /*border:1px solid #ede6e6;*/
    /* background-color:rgb(255, 255, 255 );
        opacity:0.4;  /*背景透明属性值是0-1,0为全透明，1为不透明*/
    background-color: rgba(255,255,255,0.4); /*背景色为白色40%的不透明度*/
    height: 345px;
    width: 360px;
}

.username {
    width: 260px;
    height: 35px;
    padding-left: 40px;
}

#password { /*ID名引用*/
    width: 260px;
    height: 35px;
    padding-left: 40px;
}

.change_link {
    height: 20px;
}

.regist_button, .login_button {
    /*width: 300px; 
        height: 45px;
        background-color:rgba(255,0,0,0.8);
        border:none;
	    color: #FFF;
	    font-size: 20px;
	    font-weight: 500;
        cursor:pointer*/
    width: 300px;
    height: 45px;
    background-color: rgba(255,0,0,0.8);
    display: inline-block; /*按钮样式*/
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    font: 20px/100% '宋体','Microsoft yahei',Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.ico_user {
    position: absolute;
    left: 0;
    z-index: 5;
    background-image: url(../image/user.png); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: 30px 2px; /*图片显示的位置*/
    width: 60px; /*设置图片显示的宽*/
    height: 60px; /*图片显示的高*/
}

.ico_password {
    position: absolute;
    left: 0;
    z-index: 5;
    background-image: url(../image/password.png); /*引入图片图片*/
    background-repeat: no-repeat; /*设置图片不重复*/
    background-position: 30px 2px; /*图片显示的位置*/
    width: 60px; /*设置图片显示的宽*/
    height: 60px; /*图片显示的高*/
}
