body 
{
    height:100%;
    width:100%;
}
.regist 
{
    text-align:center;
}
.auto-style1 
{
    width: 141px;
}
.regist_table
{
    height: 287px; 
    width: 540px;
    border:2px solid red;
}
.regist_input 
{
    height:35px;
    width:305px;
}